
{% extends 'book/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles2.css" />
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

 



    

    <title>Movie Seat Booking</title>
  </head>
  <body>



    <!-- {{form}} -->
    <div class="movie-container">
      <label> Select a Room:</label>
      <select id="movie">
          <!--  -->
    
        <option value="220">Floor 1</option>
        <option value="320">Floor 2</option>
        <option value="250">Floor 3</option>
        <option value="260">Floor 4</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Sold</small>
      </li>
    </ul>
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">
            <div class="container">
              <div class="container">
                <div class="container">
                  <div class="container">
                    <div class="container">
                      <div class="container">
                        <div class="container">
                          <div class="container">
                            <div class="container">
                              <div class="container">
                                <div class="container">
                                  <div class="container">
                                    <div class="container">
                                      <div class="container">
                                        <div class="container">
                                          <div class="container">
                                            <div class="container">
                                              <div class="container">
                                                <div class="container">
                                                  <div class="container">
      <div class="screen"></div>
{{form2}}

      <form action="/" method="post">{% csrf_token %}

    <!--  -->
      <div class="row">
       
        <div class="seat">101 {{form.a101}}</div>
        <div class="seat">102 {{form.a102}}</div>
        <div class="seat">103 {{form.a103}}</div>
        <div class="seat">104 {{form.a104}}</div>
        <!-- <div class="seat">5</div>
        <div class="seat">6</div>
        <div class="seat">7</div>
        <div class="seat">8</div> -->
      </div>

      <div class="row">
        <div class="seat">105 {{form.a105}}</div>
        <div class="seat">106 {{form.a106}}</div>
        <div class="seat">107 {{form.a107}}</div>
        <div class="seat sold">108 {{form.a108}}</div>
        <!-- <div class="seat sold"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div> -->
      </div>
    </div>
    </div> 
  </div>
</div> 
</div>
</div>
</div> 
</div>
</div> 
</div>
</div>
</div> 
</div>
</div> 
</div>
</div>
</div> 
</div>
</div> 
</div>
</div>
</div> 
</div>
</div> 
</div>
</div>
</div> 
</div>
</div> 
      <!-- <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div> -->
        <!-- <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div> -->
      <!-- </div> -->
      <!-- <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div> -->
        <!-- <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div> -->
      <!-- </div> -->
      <!-- <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat sold"></div>
        <div class="seat"></div>
      </div> -->
     

       <button class="btn btn-primary"  ><span>Submit </span></button>
    </form>


    <p class="text">
      You have selected <span id="count">0</span> Room for a price of RS.<span
        id="total"
        >0</span
      >

      <!-- <a class="nav-link" href="/">
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
    
      </a> -->
<!-- <a class="nav-link" href="/">{{ user.first_name}}</a> -->
  
</p>
    <script src="static/script.js"> </script>
  </body>
</html>



{% endblock content %}

